button {
  margin: 6px auto 14px auto;
  font-size: 24px;
}

.btn-container {
  display: flex;
  justify-content: center;
  min-width: 860px;
}

.container {
  margin: 0 auto;
  border: 5px solid black;
}
